<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!--log存放路径，以下所有路径不能带中文-->
      <add key="path" value="E:\\2018\\product_mysql_ppt_data_colletc\\test"></add>
      <!--mysql链接串、编码格式-->
      <add key="mysqlconnect" value="mysql -uroot -plh,348144 -hlocalhost -P3306 --default-character-set=utf8 test&lt;"></add>
      <!--mysql安装路径-->
      <add key="mysqlBin" value="cd D:\\Program Files (x86)\\MySQL\\MySQL Server 5.0\\bin\\"></add>
      <!--mysql根目录-->
      <add key="d" value="d:"></add>
      <!--bat文件存储位置-->
      <add key="batPath" value="E:\\2018\\toMysql\\"></add>
      <!--并发数-->
      <add key="batCnt" value="6"></add>
    </appSettings>
</configuration>